body{
  background-color:#CCCCFF;
}
article{
  margin-left:auto;
  margin-right:auto;
  max-width:800px;
}
header{
  background-color:#99A;
  border-radius:0px;
  margin-bottom:-22px;
}
h1{
  padding-top: 3px;
  padding-bottom:15px;
  text-align:center;
  font-size:1.7em;
}
h3{
  font-size:1em;
  text-align:center;
  color:#0033CC;
}
#models{
  margin-left:auto;
  margin-right:auto;
}
.outer{
  float:left;
  background-color:#FFFFFF;
  width:230px;
  padding-top:10px;
  padding-bottom:10px;
  border-radius:5px;
}
#first{
  margin-right:20px;
  margin-left:35px;
}
#second{margin-right:20px;}
#fourth{
  margin-top:20px;
  margin-left:35px;
  margin-right:20px;
  clear:left;  
}
#fifth{
  margin-right:20px;
  margin-top:20px;
}
#sixth{margin-top:20px;}
#inner2{margin-bottom:33px;}
#inner3{margin-bottom:54px;}
img{margin-left:40px;}
.outer p{
  margin-bottom:3px;
}
