body{
    font-family: bonvenocflight, helvetica, arial;
}

h2{
    display: inline-block;
    border-bottom: 2px solid #FFA500;
    width: 500px;
    vertical-align: 11px;
    font-weight:normal;
    font-size: 2.5em;
}

ul {

	list-style: none;
	
}

textarea
{
   resize: none;
}

@font-face {

    font-family: bonvenocflight;
    src: url('bilder/BonvenoCF-Light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*input[type="submit"]{
    
    background-color: orange;
    width: 80px;
    height: 30px;
      
}*/

#bekreft{
    display: inline;
    
}

.error{
    display: block;
}

fieldset{
    margin-bottom: 20px;
    width: 600px;
       
}

li{
    margin-bottom: 5px;
      
    
}

#submit{
    
   
    font-size: 1em;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    background: -webkit-linear-gradient(white, gray); 
    background: -o-linear-gradient(white, gray); 
    background: -moz-linear-gradient(white, gray);
    background: linear-gradient(white, gray);
}
#submit:hover{
    
    background: -webkit-linear-gradient(gray, white); 
    background: -o-linear-gradient(gray, white); 
    background: -moz-linear-gradient(gray, white);
    background: linear-gradient(gray, white); 
}

span{
    color: red;
}

.kategori{
    
    zoom: 250%;
    vertical-align: -4px;
    
    
}

#beskrivelse{


border: 1px solid #999;
height: 85px;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    
    
}

.info{
    
border: 1px solid #999;
height: 30px;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    
}

#mail{
    border-radius: 8px;
    position: absolute;
    bottom: 250px;
    left: 750px;
    margin-right: 250px;
    margin-top: 300px;
    border: 4px dotted #FFA500;
    padding: 30px;
}


