#test {
    background:rgb(242, 242, 247);
    position: absolute;
    top:100px;
    left:50px;
    right:50px;
    bottom:-170px;
    margin-top: 50px;
    max-width: 1200px;
    
}
#design1 {
    border: 2px solid orange;
    background-color: rgb(153, 153, 153);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    position: relative;
    top:-120px;
    left: -100px;
    margin-right: 700px;
    width: 350px;
    height: 290px;
}
#h1 {
    color: rgb(95, 137, 172);
    position: absolute;
    top:-65px;
    left:-10px;
}
#bilde1 {
    position: absolute;
    top:25px;
    left:250px;
}
#tekst1 {
    position: absolute;
    left:10px;
    right:160px;
    top:35px;
}
#lastned1 {
  display: block;
  width:75px;
  height: 25px;
  background: #4E9CAF;
  padding: 5px 10px 10px 5px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  position: relative;
  top:210px;
  left:1px;
}
#tekstA {
    position: relative;
    top:-12px;
    left:3px;
    color:white;
}



#design2 {
    border: 2px solid rgb(181, 189, 104);
    background-color: rgb(40, 42, 46);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    position: relative;
    top:-576px;
    left: 290px;
    margin-right: 700px;
    width: 350px;
    height: 290px;
}
#h2 {
    color: rgb(95, 137, 172);
    position: absolute;
    top:-65px;
    left:-10px;
}
#bilde2 {
    position: absolute;
    top:25px;
    left:250px;
}
#tekst2 {
    position: absolute;
    left:10px;
    right:160px;
    top:35px;
}
#lastned2 {
  display: block;
  width:75px;
  height: 25px;
  background: #4E9CAF;
  padding: 5px 10px 10px 5px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  position: relative;
  top:210px;
  left:1px;
}
#tekstB {
    position: relative;
    top:-12px;
    left:3px;
    color:white;
}




#design3 {
    border: 2px solid rgb(181, 189, 104);
    background-color: rgb(40, 42, 46);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    position: relative;
    top:-1032px;
    left: 680px;
    margin-right: 700px;
    width: 350px;
    height: 290px;
}
#h3 {
    color: rgb(95, 137, 172);
    position: absolute;
    top:-65px;
    left:-10px;
}
#bilde3 {
    position: absolute;
    top:25px;
    left:250px;
}
#tekst3 {
    position: absolute;
    left:10px;
    right:160px;
    top:35px;
}
#lastned3 {
  display: block;
  width:75px;
  height: 25px;
  background: #4E9CAF;
  padding: 5px 10px 10px 5px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  position: relative;
  top:210px;
  left:1px;
}
#tekstC {
    position: relative;
    top:-12px;
    left:3px;
    color:white;
}


#design4 {
    border: 2px solid rgb(181, 189, 104);
    background-color: rgb(40, 42, 46);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    position: relative;
    top:-1162px;
    left: -394px;
    
    width: 350px;
    height: 290px;
}
#h4 {
    color: rgb(95, 137, 172);
    position: absolute;
    top:-65px;
    left:-10px;
}
#bilde4 {
    position: absolute;
    top:25px;
    left:250px;
}
#tekst4 {
    position: absolute;
    left:10px;
    right:160px;
    top:35px;
}
#lastned4 {
  display: block;
  width:75px;
  height: 25px;
  background: #4E9CAF;
  padding: 5px 10px 10px 5px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  position: relative;
  top:210px;
  left:1px;
}
#tekstD {
    position: relative;
    top:-12px;
    left:3px;
    color:white;
}


#design5 {
    border: 2px solid rgb(181, 189, 104);
    background-color: rgb(40, 42, 46);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    position: relative;
    top:-1618px;
    left: -4px;
    width: 350px;
    height: 290px;
}
#h5 {
    color: rgb(95, 137, 172);
    position: absolute;
    top:-65px;
    left:-10px;
}
#bilde5 {
    position: absolute;
    top:25px;
    left:250px;
}
#tekst5 {
    position: absolute;
    left:10px;
    right:160px;
    top:35px;
}
#lastned5 {
  display: block;
  width:75px;
  height: 25px;
  background: #4E9CAF;
  padding: 5px 10px 10px 5px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  position: relative;
  top:210px;
  left:1px;
}
#tekstE {
    position: relative;
    top:-12px;
    left:3px;
    color:white;
}


#design6 {
    border: 2px solid rgb(181, 189, 104);
    background-color: rgb(40, 42, 46);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    position: relative;
    top:-2074px;
    left: 386px;
    width: 350px;
    height: 290px;
}
#h6 {
    color: rgb(95, 137, 172);
    position: absolute;
    top:-65px;
    left:-10px;
}
#bilde6 {
    position: absolute;
    top:25px;
    left:250px;
}
#tekst6 {
    position: absolute;
    left:10px;
    right:160px;
    top:35px;
}
#lastned6 {
  display: block;
  width:75px;
  height: 25px;
  background: #4E9CAF;
  padding: 5px 10px 10px 5px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  position: relative;
  top:210px;
  left:1px;
}
#tekstF {
    position: relative;
    top:-12px;
    left:3px;
    color:white;
}