#test {
    background:white;
    position: absolute;
    top:300px;
    left:73px;
    right:50px;
    max-height: 660px;
    min-height: 660px;  
    margin-top: 50px;
    max-width: 1200px;
    min-width: 1200px;
    border-right: 2px solid rgb(204, 204, 204);
    border-left: 2px solid rgb(204, 204, 204);
    
    
    
    
    
}
#design1 {
    border: 2px solid black;
    background-color: whitesmoke;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 366px;
    left: 90px;
    margin-right: 700px;
    width: 350px;
    max-width:350px;
    min-width: 350px;
    min-height: 290px;
    max-height: 700px;
    border-radius: 10px;
    border-style:dotted;
}
#h1 {
    color: black;
    position: absolute;
    top:-65px;
    left:-10px;
    border-bottom: 2px solid orange;
}
#bilde1 {
    position: absolute;
    top:50px;
    left:250px;
}
#tekst1 {
    position: absolute;
    left:10px;
    right:160px;
    top:35px;
}
#lastned1 {
  position: absolute;
  top:210px;
  left:11px;
  width:80px;
  height: 40px;
}
/*#tekstA {
    position: absolute;
    top:-12px;
    left:3px;
    color:white;
    font-size: 20px;
}*/



#design2 {
    border: 2px solid black;
    background-color: whitesmoke;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 366px;
    left: 486px;
    margin-right: 700px;
    width: 350px;
    height: 290px;
    max-width:350px;
    min-width: 350px;
    border-radius: 10px;
    border-style:dotted;
}
#h2 {
    color: black;
    position: absolute;
    top:-65px;
    left:-10px;
    border-bottom: 2px solid orange;
}
#bilde2 {
    position: absolute;
    top:50px;
    left:250px;
}
#tekst2 {
    position: absolute;
    left:10px;
    right:160px;
    top:35px;
}
#lastned2 {
  position: absolute;
  top:210px;
  left:11px;
  width:80px;
  height: 40px;
}
/*#tekstB {
    position: absolute;
    top:-12px;
    left:3px;
    color:white;
}*/




#design3 {
    border: 2px solid black;
    background-color: whitesmoke;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 366px;
    left: 882px;
    margin-right: 700px;
    width: 350px;
    height: 290px;
    max-width:350px;
    min-width: 350px;
    border-radius: 10px;
    border-style:dotted;
}
#h3 {
    color: black;
    position: absolute;
    top:-65px;
    left:-10px;
    border-bottom: 2px solid orange;
}
#bilde3 {
    position: absolute;
    top:50px;
    left:250px;
}
#tekst3 {
    position: absolute;
    left:10px;
    right:160px;
    top:35px;
}
#lastned3 {
  position: absolute;
  top:210px;
  left:11px;
  width:80px;
  height: 40px;
}
/*#tekstC {
    position: absolute;
    top:-12px;
    left:3px;
    color:white;
}*/


#design4 {
    border: 2px solid black;
    background-color: whitesmoke;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 691px;
    left: 90px;
    max-width:350px;
    min-width: 350px;
    width: 350px;
    height: 290px;
    border-radius: 10px;
    border-style:dotted;
}
#h4 {
    color: black;
    position: absolute;
    top:-65px;
    left:-10px;
    border-bottom: 2px solid orange;
}
#bilde4 {
    position: absolute;
    top:50px;
    left:250px;
}
#tekst4 {
    position: absolute;
    left:10px;
    right:160px;
    top:35px;
}
#lastned4 {
  position: absolute;
  top:210px;
  left:11px;
  width:80px;
  height: 40px;
  
}
/*#tekstD {
    position: absolute;
    top:-12px;
    left:3px;
    color:white;
}*/


#design5 {
    border: 2px solid black;
    background-color: whitesmoke;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 691px;
    left: 486px;
    width: 350px;
    height: 290px;
    max-width:350px;
    min-width: 350px;
    border-radius: 10px;
    border-style:dotted;
}
#h5 {
    color: black;
    position: absolute;
    top:-65px;
    left:-10px;
    border-bottom: 2px solid orange;
}
#bilde5 {
    position: absolute;
    top:50px;
    left:250px;
}
#tekst5 {
    position: absolute;
    left:10px;
    right:160px;
    top:35px;
}
#lastned5 {
  position: absolute;
  top:210px;
  left:11px;
  width:80px;
  height: 40px;
}
/*#tekstE {
    position: absolute;
    top:-12px;
    left:3px;
    color:white;
}*/


#design6 {
    border: 2px solid black;
    background-color: whitesmoke;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 691px;
    left: 882px;
    width: 350px;
    height: 290px;
    max-width:350px;
    min-width: 350px;
    border-radius: 10px;
    border-style:dotted;
}
#h6 {
    color: black;
    position: absolute;
    top:-65px;
    left:-10px;
    border-bottom: 2px solid orange;
}
#bilde6 {
    position: absolute;
    top:50px;
    left:250px;
}
#tekst6 {
    position: absolute;
    left:10px;
    right:160px;
    top:35px;
}
#lastned6 {
  position: absolute;
  top:210px;
  left:11px;
  width:80px;
  height: 40px;
}
/*#tekstF {
    position: relative;
    top:-12px;
    left:3px;
    color:white;
}*/
#test2{
  background:transparent;
    position: relative;
    top:400px;
    left:50px;
    right:50px;
    height:550px;
    max-width: 1200px;
    margin-bottom: 400px;
    z-index: -1;
}
#overskrift{
    position: absolute;
    top:151px;
    left:174px;
    
}
#ikontest{
    position: absolute;
    top:170px;
}